/* Colours
background4: #000000
background3: #0b0b0f
background2: #16171d
background1: #1f2029
container: #1f2029
text: white
secondary-text: #989ea0
highlights: #05f7c0

*/

.App {
  position: absolute;
  text-align: center;
  background: rgb(31,32,41);
  background: linear-gradient(165deg, rgba(31,32,41,1) 0%, rgba(22,23,29,1) 33%, rgba(11,11,15,1) 66%, rgba(0,0,0,1) 100%);
  min-height: 100vh;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: -1;
}

.hero {
  height: 100%;

  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width : 480px) {
  .hero {
    height: 100%;
    justify-content: center;
    padding: 20px;
    margin-top: 5vh;
    display: flex;
  }
}

.arrow {
  text-align: center;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#overlay-b {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 350vh;
  background-image: url("./components/public/bg-3.svg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index:0;
}

#overlay-t {
  position: absolute;
  top: 0;
  left: -15vw;
  width: 100%;
  height: 100vh;
  background-image: url("./components/public/bg-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
  z-index:0;
}
